certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
requests==2.27.1
schedule==1.1.0
starkbank==2.15.0
starkbank-ecdsa==2.0.3
urllib3==1.26.8
Werkzeug==2.0.3
